*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* NAVBAR */
.navbar{
  position: fixed;
  height: 70px;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0px 1px 20px black;
  z-index: 1;
}

.navbar .logo{
  position: absolute;
  left: 10px;
  text-decoration: none;
  line-height: 70px;
}

.navbar .logo img{
  transform: rotate(-30deg);
}

.navbar .logo h1{
  font-size: 30px;
  color: black;
  position: relative;
  bottom: 100px;
  left: 90px;
}

.navbar li{
  display: inline;
  padding: 20px;
  float: right;
  font-size: 20px;
  line-height: 35px;
  position: relative;
  right: 20px;
}

.navbar .navbar-icon{
  text-align: center;
}

.navbar li a{
  text-decoration: none;
  color: black;
}

.navbar li a:hover{
  color: #444444;
}

/* HOMEPAGE */
#home{
  height: 100vh;
  background: url('../img/silhouette-hiker-enjoying-top-cliff-sunset_100787-414.jpg') no-repeat center center/cover;
}

#home h1{
  position: absolute;
  top: 37vh;
  left: 200px;
  font-size: 40px;
}

#home h2{
  position: absolute;
  top: 44vh;
  left: 200px;
  font-size: 80px;
  font-family: 'Fraunces', serif;
}

/* ABOUT US */
#about{
  height: 550px;
  display: flex;
  justify-content: space-around;
  background: white;
}

#about .desc{
  position: relative;
  top: 120px;
  width: 600px;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

#about .desc p{
  position: relative;
  top: 10px;
}

#about img{
  position: relative;
  top: 300px;
  transform: scaleX(-1);
  box-shadow: 0 0 20px black;
}

#about .about-img img{
  max-width: initial;
}

/* OUR PRODUCT */
#product{
  height: 500px;
  background: tomato;
}

#product .desc{
  position: relative;
  top: 120px;
  left: 160px;
  width: 600px;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}

#product .desc p{
  position: relative;
  top: 10px;
}

/* REVIEWS */
#reviews{
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

#reviews .title{
  position: relative;
  top: 40px;
  font-size: 30px;
}

#reviews .revlist {
  padding: 20px;
  width: 80vw;
  height: 200px;
  position: absolute;
  top: 2125px;
}

#reviews .review {
  width: 33.3%;
  height: 200px;
  float: left;
  padding: 30px;
  text-align: center;
}

#reviews p{
  text-align: justify;
  text-justify: inter-word;
  position: relative;
  top: 10px;
  font-size: 20px;
}

/* CONTACT */
#contact{
  height: 150px;
  background-color: #4444;
  display: flex;
  justify-content: space-evenly;
}

#contact h1{
  position: relative;
  top: 20px;
  height: 40px;
}

#contact .links{
  display: flex;
  justify-content: space-around;
  width: 500px;
  position: absolute;
  top: 2510px;
}

#contact .links a{
  text-decoration: none;
  color: black;
}

#contact .links a:hover{
  text-decoration: underline;
}

#contact h2{
  position: absolute;
  top: 2560px;
  font-size: 10px;
}